*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: sans-serif;
    color:#a89cf8;
    margin-left: 15%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#subtitulo{
    font-family: sans-serif;
    color:#483D8B;
    margin-left: 20%;
}

fieldset{
     border:0;
 }

body{
     border:3px rgb(75,116,238) solid;
     border-radius: 10px;
     width: 700px;
     height: 950px;
     box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
     background-color:rgb(239, 219, 255);
     font-family: sans-serif;
     font-size:1em;
     color:rgb(75, 116, 238);
     margin-left: 36%;
     margin-top: 2%;
     justify-content: center;
 }

.campo{
    text-align: center;

}


input, select, textarea, button{
     border-radius: 10px; 
 }

.campo{
     margin-bottom: 1em;
 }

.campo label{
     margin-bottom: 0.2em;
     color: rgb(75, 116, 238);
     display: block;
 }

fieldset.grupo .campo{
      float: left;
      margin-right:1em;
 }

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
     padding: 0.2em;
     border: 3px solid #717ef8;
     box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
     display: block;
    
 }

.campo select option{
     padding-right: 2em;
 }

.campo input:focus, .campo select:focus, .campo textarea:focus{
     background: rgb(202, 158, 252);
}

.botao{
    font-size: 1.2em;
    background: rgb(188, 178, 233);
    border: 0;
    margin-bottom: 1em;
    color: rgb(140, 107, 231);
    padding: 0.2em 0.6em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: rgb(243, 207, 243);
    box-shadow: inset 10px 10px 10px (120, 100%, 25%, 0.3);
    text-shadow: none;
}
 
.botao, select{
    cursor: auto;
}

#check{
    display: inline-block;
}

